.BioForm{
  resize:none;
  align-items: center;
  display: flex;
  font-family: enchantedLand;
  src:url('../../assets/enchantedLand.otf')

}
.formStyle{

}

h2,input{
  font-family: enchantedLand;
  src:url('../../assets/enchantedLand.otf')
}
