.NavItem {
    margin: 20px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;

}

.NavItem a {
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #40A4C8;
    background-color: rgb(0,0,0,0.6);
    border-radius: 20px;

}

@media (min-width: 499px) {
  .NavItem{
    display:none;
  }
    }


@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavItem a {
        color: white;
        height: 100%;
        border-bottom: 4px solid transparent;
        padding: 12px 12px;
    }

    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        background-color: rgb(0,0,0, 0.6);
        border-radius: 5px;
        border-bottom: 3px solid #40A4C8;
        transition: background-color 0.5s;
    }
}
