.CustomControls {
    width: 93%;
    background: url("../../../assets/11406_original.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px #ccc;
    margin: auto;
    padding: 1%;
    margin-bottom: 3%;
}
.SaveButton{
  color:crimson;
  width:15%;
  align-items: center;
  background-color: navy;
  display: flex;

  margin: 5px;
  box-shadow: 2px 2px;
}
@media only screen and (max-width: 770px) {
.SaveButton{
  display: none;
}
}
