.Login{
  width: 160px;
  height: 160px;
  margin:auto;


}


.LogPic{
  display: block;
  margin: auto;
  width: 140px;

}
.LoginHead{
  width: 100px;
  margin: auto;


}
.btnStyle{
  display: block;
  margin: 1rem auto;
}
